/*îáíóëÿåì âñå*/
*{
	margin:0;
	padding:0;
	font-size:100%;
	border-collapse:collapse;
}

body{
	font-family:Arial;
	position:relative;
}

/*êîíòåéíåð äëÿ êàðòû*/
div#imap{
	width:700px;
	height:394px;
	margin:0 auto 10px;
	background:url(images/map_bg.png) no-repeat;
	position:relative;
	margin-top: 100px 0px;
}

/*ãîðîäà íà êàðòå*/
div#imap a{
	position:absolute;
	text-decoration:none;
	background:url(images/b_sprite.png) no-repeat;
	color:#000;
	font-weight:bold;
	padding-left:14px;
	font-size:.7em;
}

div#imap a:hover{
	background-position:0 -13px;
}

/*âñïëûâàþùèé áëîê ñ êàðòîé*/
div#container{
	display:none;
	position:absolute;
	margin:0 auto;
	background:#fff;
	padding:10px;
	border:1px solid #999;
	cursor:pointer;
	top:50%;
	left:50%;
}

/*ãîðîä Êàëèíèíãðàä*/
a#klgd{
	position: absolute;
	z-index: 15;
	top:75px;
	left:30px;
}

/*ãîðîä Ñàíêò-Ïåòåðáóðã*/
a#spb{
	top:97px;
	left:95px;
	z-index: 1000000000;

}

/*ãîðîä Ìîñêâà*/
a#msk{
	top:149px;
	left:81px;
}
.marginnn{
	margin-bottom 20px;
}
@charset "utf-8";
/* CSS Document */

#container {
	margin: 0 auto;
	border: 3px solid #EEEEEE;
	width: 800px;
	-webkit-birder-radius: 6px;
	-moz-border-radius: 6px;
}

input, textarea {
	border: solid 1px #CCCCCC;
	margin-left: 10px;
	padding: 4px;
	outline: 0;
	font: Verdana, Geneva, sans-serif;
	width: 200px;
	background: #F9F9F9;
	-webkit-birder-radius: 4px;
	-moz-border-radius: 4px;
}

p label {
	margin-left: 10px;
	font-style: italic;
	color: #c0c0c0;
}

.name input {
	margin-top: 10px;
}


textarea {
	width: 400px;
	height: 150px;
	line-height: 150%;
}


.send input {
	width: auto;
	margin-bottom: 10px;
	border: 2px solid #E0E0F3;
	font: Verdana, Geneva, sans-serif;
	background-color: #E5E5F8;
}



input:hover, textarea:hover, input:focus, textarea:focus {
	border-color: #A0A0A0;
}

.send input:hover {
	border: 2px solid #C0C0E3;
}
.fasd{
	position: absolute;
	left: 0%;
	width: 1200px;
}
footer {
	position: absolute;
	width: 100%;
	z-index: 0;
	bottom: -130%;
	
	
}
.zzz{
	position: absolute;
	z-index: 10000;
	right: 0px;
	top: 0px;
}
.mmm{
	position: absolute;
	left: -30%;
	z-index: 0;
}
.zxcv{
	position: absolute;
	right: 75%;
	z-index: 100001231234;
}


